* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 380px;
  height: 500px;
  margin: 0;
  overflow: hidden;

  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-content {
  flex: 1;
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding: 18px;
  overflow: hidden;
}

h1 {
  font-size: 1.2rem;
  font-weight: 800;
}

.label {
  color: #8a8a8a;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 6px;
}

.page-info {
  border-top: 1px solid #8a8a8a;
  padding: 20px;
  background-color: #383737;
}

#pageTitle {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
}

.page-meta {
  display: flex;
  gap: 14px;
  align-items: flex-start;
}

#favicon {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  margin-top: 4px;
}

#pageUrl {
  color: #8f8f8f;
  font-size: 13px;
  text-decoration: none;
  word-break: break-all;
}

#pageUrl:hover {
  color: #ff5a1f;
}

.tabs {
  display: flex;
  border: 1px solid #2a2a2a;
  border-radius: 14px;
  overflow: hidden;
}

.tab {
  flex: 1;
  padding: 10px;
  background: transparent;
  color: #9f9f9f;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.tab.active {
  background: #1a1a1a;
  color: #ff5a1f;
  border-bottom: 3px solid #ff5a1f;
}

#summarizeBtn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 14px;
  background: #ff5a1f;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

#summarizeBtn:hover {
  opacity: 0.9;
}

.stats {
  display: flex;
  gap: 6px;
  background: #161616;
  border: 1px solid #262626;
  padding: 8px 12px;
  border-radius: 10px;
}

.stats span {
  color: #ff5a1f;
  font-size: 13px;
  display: flex;
  gap: 10px;
}

/* .stats span:not(:last-child)::after {
  content: "•";
  color: #5a5a5a;
} */

#output {
  background: #111;
  border: 1px solid #222;
  border-radius: 14px;
  padding: 18px;
  line-height: 1.5;
  font-size: 14px;
  color: #d6d6d6;
  max-height: 250px;
  flex: 1;
  overflow-y: auto;
}

#output span {
  color: #ff5a1f;
  font-weight: 600;
}

.footer {
  border-top: 1px solid #1f1f1f;

  padding: 14px 18px;

  background: #0b0b0b;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.footer-actions {
  display: flex;
  gap: 8px;
}

.footer-actions button {
  border: none;
  background: #1a1a1a;
  color: white;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
}
